@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica'), url('/fonts/Helvetica.ttf') format('ttf');
}

@font-face {
    font-family: 'go3v2';
    font-style: normal;
    font-weight: normal;
    src: local('go3v2'), url('/fonts/go3v2.woff') format('woff');
}

* {
    line-height: unset !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-stroke-white {
        -webkit-text-stroke: 2px white;
    }

    .text-stroke-black {
        -webkit-text-stroke: 2px #252525;
    }
    
    .text-stroke-green {
        -webkit-text-stroke: 2px #1E3B1B;
    }
}

@layer base {
    body {
        @apply bg-main font-go3v2;
    }

    .text-stroke-white-2 {
        @apply text-stroke-white;
    }
    
    .text-stroke-black-2 {
        @apply text-stroke-black;
    }
    
    .text-stroke-green-2 {
        @apply text-stroke-green;
    }
}
